@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

input {
  caret-color: red;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background: #320961;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow-x: hidden;
  font-family: poppins;
}

.discription {
  text-align: right;
}

.discription > button {
  position: absolute;
  top: 2%;
  right: 7%;
  padding: 5px 10px;
  background-color: #1DA1F2;
  width: 150px;
  border-radius: 20px;
  box-shadow: 1px 1px 18px #87aac2;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.discription > button:hover {
  background-color: white;
  box-shadow: 1px 1px 18px white;
}

.discription > button:hover > .linkToAbout > .titleDis {
  color: black;
}

.linkToAbout {
  text-decoration: none;
}

.titleDis {
  font-size: 20px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition:  all ease-in-out 0.2s;
}

.registerCard {
  margin-top: 8%;
  position: relative;
  width: 850px;
  height: 500px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  /* box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white; */
}

nav ul {
  display: flex;
}

nav ul li {
  color: black;
  font-size: 30px;
}

.brand-logo {
  height: 100px;
  width: 100px;
  background: url("/static/img/money.png");
  background-position: center;
  background-size: cover;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 6px white;
  position: absolute;
  top: 2%;
  right: 20%;
}

.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #1DA1F2;
  letter-spacing: 1px;
  position: absolute;
  top: 21%;
  right: 18%;
}

.banner {
  position: absolute;
}

.inputs {
    position: absolute;
    text-align: center;
    margin-top: 30px;
    width: 80%;
    left: 61%;
    bottom: 4%;
}

label, input, button {
  display: block;
  width: 35%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input {
  text-align: center;
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.registerCard button {
  color: white;
  margin-top: 20px;
  background: #1DA1F2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

.registerCard button:hover {
  box-shadow: none;
}

.registerCard a {
  position: absolute;
  font-size: 8px;
  bottom: 4px;
  right: 4px;
  text-decoration: none;
  color: black;
  background: yellow;
  border-radius: 10px;
  padding: 2px;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
}

.registered-title {
  top: 100% !important;
  left: 45% !important;
  color: white;
  margin-top: 10px;
}

/* Registered users */

.registered {
    position: relative;
    margin: auto auto;
    background-color: #ecf0f3;
    min-height: 50px;
    width: 80%;
    border-radius: 20px;
    margin-top: 120px;
    padding: 50px 0;
    margin-bottom: 50px;
}



.user {
    display: flex;
    justify-content: center;
    direction: rtl;
    margin-top: 10px;
}

.user > h4 {
  margin-left: 40px;
  margin-top: 25px;
}

.user > img {
    width: 110px;
    height: 110px;
    margin-top: -20px;
}

.woman {
  width: 95px !important;
  height: 95px !important;
}

.user > p {
    margin-right: 60px;
    margin-top: 30px;
}

/* Winners */

.winners-title {
  position: absolute;
  top: 182%;
  left: 48%;
  color: white;
}

.winners-title > i {
  color: gold;
}

/* Home End */


/* About Start */

.about > .linkToHome {
  position: absolute;
  top: 2%;
  right:7%;
  color: white;
  background-color: #1DA1F2;
  font-size: 20px;
  border-radius: 50%;
  padding: 5px 12px;
  box-shadow: 1px 1px 18px #87aac2;
  transition: all ease-in-out 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  cursor: pointer;

}

.aboutCard {
  margin-top: 8%;
  margin-bottom: 7%;
  position: relative;
  width: 850px;
  height: 500px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
}

.about > .linkToHome > i {
  align-self: center;
  margin-top: 2px;
}

.about .linkToHome:hover {
  background-color: white;
  color: black;
  box-shadow: 1px 1px 18px white;
}

/* About End */



/* Error Page Start */


.error h1 {
  color: white;
}